h1 {
    text-align: center;
    color: cyan;
}

h2 {
    text-align: left;
    color: cornflowerblue;
    margin-left: 20px;
}
h3 {
    text-align: left;
    color: cornflowerblue;
    margin-left: 20px;
h4 {
    text-align: left;
    color: cornflowerblue;
    margin-left: 20px;  
}
    
p {
    text-align: justify;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
}
